!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Head2HeadChess
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Head2HeadChess")
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/styles.css", rel="stylesheet")
    
  body
    block content

